<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XIAOMI POCO X3 HTF</title>
    <%- include("../partials/navigation.html")%>
    <%- include("../partials/WHATSAPP.html")%>
    <%- include("../partials/wasap.html")%>
</head>

<div class="paseocentral" style="background-color: #E94B4B;">
    <div class="container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d956.753490067567!2d-71.54635038748823!3d-16.42411737725777!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91424b25fcd7185f%3A0x9c731b5d0f825953!2sMall%20paseo%20central!5e0!3m2!1ses!2spe!4v1607994889489!5m2!1ses!2spe" width="800" height="500" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</div>
<div class="restante"></div>
</html>



