<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XIAOMI POCO X3 HTF</title>
    <%- include("../partials/navigation.html")%>
    <%- include("../partials/WHATSAPP.html")%>
    <%- include("../partials/wasap.html")%>
</head>

<body>
    <h1 class=text-center>Xiaomi POCO F3 NFC</h1>
    <div class="celular-show">
        <div class="container">
            <div class="row">
                <div class="col-sm" style="margin-top: 5em;">
                    <div id="custCarousel" class="carousel slide" data-ride="carousel" align="center">
                        <!-- slides -->
                        <div class="carousel-inner">
                            <div class="carousel-item active"> <img src="https://www.movilzona.es/app/uploads/2020/09/POCO-X3-NFC_Blue-31.jpg" alt="Hills" width="2em"> </div>
                            <div class="carousel-item"> <img src="https://www.movilzona.es/app/uploads/2020/09/POCO-X3-NFC_Blue-2.jpg" alt="Hills"> </div>
                            <div class="carousel-item"> <img src="https://www.movilzona.es/app/uploads/2020/09/POCO-X3-NFC_Blue-3.jpg" alt="Hills"> </div>
                            <div class="carousel-item"> <img src="https://www.movilzona.es/app/uploads/2020/09/POCO-X3-NFC_Mix.jpg" alt="Hills"> </div>
                        </div> <!-- Left right --> <a class="carousel-control-prev" href="#custCarousel" data-slide="prev"> <span class="carousel-control-prev-icon"></span> </a> <a class="carousel-control-next" href="#custCarousel" data-slide="next"> <span class="carousel-control-next-icon"></span> </a> <!-- Thumbnails -->
                        <ol class="carousel-indicators list-inline">
                            <li class="list-inline-item active"> <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#custCarousel"> <img src="https://www.movilzona.es/app/uploads/2020/09/POCO-X3-NFC_Blue-31.jpg" class="img-fluid" width="65px"> </a> </li>
                            <li class="list-inline-item"> <a id="carousel-selector-1" data-slide-to="1" data-target="#custCarousel"> <img src="https://www.movilzona.es/app/uploads/2020/09/POCO-X3-NFC_Blue-2.jpg" class="img-fluid" width="65px"> </a> </li>
                            <li class="list-inline-item"> <a id="carousel-selector-2" data-slide-to="2" data-target="#custCarousel"> <img src="https://www.movilzona.es/app/uploads/2020/09/POCO-X3-NFC_Blue-3.jpg" class="img-fluid" width="65px"> </a> </li>
                            <li class="list-inline-item"> <a id="carousel-selector-2" data-slide-to="3" data-target="#custCarousel"> <img src="https://www.movilzona.es/app/uploads/2020/09/POCO-X3-NFC_Mix.jpg" class="img-fluid" width="65px"> </a> </li>
                        </ol>
                    </div>
                </div>
                <div class="col-sm">
                    <table class="tabla-datos">
                        <thead>
                            <tr>
                                <th>
                                    <p></p>
                                </th>
                                <th>
                                  
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>
                                    <p>Pantalla</p>
                                </th>
                                <td>
                                    <p>IPS 6,67" FullHD+<br>20:9, 395 ppp, 450 nits<br>HDR10, Wildvine L1</p>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <p>Procesador</p>
                                </th>
                                <td>
                                    <p>Qualcomm Snapdragon 732G</p>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <p>RAM</p>
                                </th>
                                <td>
                                    <p>6 GB LPDDR4X</p>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <p>Almacenamiento</p>
                                </th>
                                <td>
                                    <p>64/128 GB UFS 2.1</p>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <p>Cámaras traseras</p>
                                </th>
                                <td>
                                    <p>64 MP Sony IMX682 (1/1.73"), f/1.89, PDAF<br>13 MP gran angular, f/2.2, 119º<br>2 MP
                                        macro f/2.4<br>2 MP profundidad f/2.4</p>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <p>Cámara frontal</p>
                                </th>
                                <td>
                                    <p>20 MP, f/2.2</p>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <p>Batería</p>
                                </th>
                                <td>
                                    <p>5.160 mAh + 33W mAh</p>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <p>Sistema operativo</p>
                                </th>
                                <td>
                                    <p>Android + MIUI 12</p>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <p>Conectividad</p>
                                </th>
                                <td>
                                    <p>NFC WiFi Dual<br>Bluetooth 5.0</p>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <p>Dimensiones y peso</p>
                                </th>
                                <td>
                                    <p>165,3 x 76,8 x 9,4 mm<br>215 g</p>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <p>Otros</p>
                                </th>
                                <td>
                                    <p>Lector de huellas lateral, puerto IR<br>Altavoces estéreo, minijack</p>
                                </td>
                            </tr>
                            <tr>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </body>
    <div class="container">
    <%- include("../partials/footer.html")%>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'></script>
  
</div>


</html>


