<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Italo's|Xiaomi Redmi Note 9S</title>
    <%- include("../partials/navigation.html")%>
    <%- include("../partials/WHATSAPP.html")%>
    <%- include("../partials/wasap.html")%>
</head>
<body>
    <div class="celular-show">
        <div class="container">
            <div class="row">
                <div class="col-sm" style="margin-top: 5em;">
                    <div id="custCarousel" class="carousel slide" data-ride="carousel" align="center">
                        <!-- slides -->
                        <div class="carousel-inner">
                            <div class="carousel-item active"> <img src="https://i.linio.com/p/25d3e08993eb3daad233155257dbd8ed-zoom.jpg" alt="Hills" height="50em"> </div>
                            <div class="carousel-item"> <img src="https://cdn.tobydealsau.com/media/catalog/product/cache/8/image/1200x/040ec09b1e35df139433887a97daa66f/x/i/xiaomi-poco-f2-pro-5g-6gb-128gb-dual-vb0zdu.jpg" alt="Hills"> </div>
                            <div class="carousel-item"> <img src="https://bymitu.com/425-large_default/poco-f2-pro.jpg" alt="Hills"> </div>
                            <div class="carousel-item"> <img src="https://http2.mlstatic.com/xiaomi-poco-f2-pro-5g-6gb-128gb-camara-pop-up-oferton-D_NQ_NP_896685-MPE41795899531_052020-F.jpg" alt="Hills"> </div>
                        </div> <!-- Left right --> <a class="carousel-control-prev" href="#custCarousel" data-slide="prev"> <span class="carousel-control-prev-icon"></span> </a> <a class="carousel-control-next" href="#custCarousel" data-slide="next"> <span class="carousel-control-next-icon"></span> </a> <!-- Thumbnails -->
                        <ol class="carousel-indicators list-inline">
                            <li class="list-inline-item active"> <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#custCarousel"> <img src="https://i.linio.com/p/25d3e08993eb3daad233155257dbd8ed-zoom.jpg" class="img-fluid" width="65px"> </a> </li>
                            <li class="list-inline-item"> <a id="carousel-selector-1" data-slide-to="1" data-target="#custCarousel"> <img src="https://cdn.tobydealsau.com/media/catalog/product/cache/8/image/1200x/040ec09b1e35df139433887a97daa66f/x/i/xiaomi-poco-f2-pro-5g-6gb-128gb-dual-vb0zdu.jpg" class="img-fluid" width="65px"> </a> </li>
                            <li class="list-inline-item"> <a id="carousel-selector-2" data-slide-to="2" data-target="#custCarousel"> <img src="https://bymitu.com/425-large_default/poco-f2-pro.jpg" class="img-fluid" width="65px"> </a> </li>
                            <li class="list-inline-item"> <a id="carousel-selector-2" data-slide-to="3" data-target="#custCarousel"> <img src="https://http2.mlstatic.com/xiaomi-poco-f2-pro-5g-6gb-128gb-camara-pop-up-oferton-D_NQ_NP_896685-MPE41795899531_052020-F.jpg" class="img-fluid" width="65px"> </a> </li>
                        </ol>
                    </div>
                </div>
                <div class="col-sm">
                    <table class="tabla-datos">
                        <thead>
                            <tr>
                                <th> </th>
                                <th>
                                    <h2> POCO F2 Pro</h2>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>
                                    <p>Pantalla</p>
                                </th>
                                <td>
                                    <p>AMOLED 6,67"<br>
                                        Full HD+, HDR10+<br>
                                        Respuesta táctil 180 Hz</p>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <p>Dimensiones y peso</p>
                                </th>
                                <td>
                                    <p>163.3 x 75.4 x 8.9 mm // 219 gramos</p>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <p>Procesador</p>
                                </th>
                                <td>
                                    <p>Snapdragon 865</p>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <p>RAM</p>
                                </th>
                                <td>
                                    <p>6 (LPDDR4)</p>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <p>Almacenamiento</p>
                                </th>
                                <td>
                                    <p>128 GB</p>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <p>Cámara frontal</p>
                                </th>
                                <td>
                                    <p>20 MP<br>
                                        Motorizada</p>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <p>Cámara trasera</p>
                                </th>
                                <td>
                                    <p><br>
                                        64 MP IMX686<br>
                                        13 MP gran angular 123 grados<br>
                                        5 MP telefoto + macro<br>
                                        2 MP bokeh<br><br>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <p>Batería</p>
                                </th>
                                <td>
                                    <p>4.700 mAh<br>
                                        Carga rápida 30W</p>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <p>Sistema operativo</p>
                                </th>
                                <td>
                                    <p>Android 10 con MIUI 11<br>
                                        POCO Launcher 2.0</p>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <p>Conectividad</p>
                                </th>
                                <td>
                                    <p>5G SA/NSA<br>
                                        Wi-Fi 6<br>
                                        Bluetooth 5<br>
                                        Dual GPS<br>
                                        NFC<br>
                                        USB-C<br>
                                        IR Blaster<br>
                                        Minijack</p>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <p>Otros</p>
                                </th>
                                <td>
                                    <p>Lector de huellas en la pantalla</p>
                                </td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
                </div>
                </div>
                </div>
    <!--INTERESAR-->
    <%- include("../partials/interesar.html")%>
    <!--FOTER-->
    <%- include("../partials/footer.html")%>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'></script>
</body>
</html>