<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xiaomi-Redmi-9</title>
    <%- include("../partials/navigation.html")%>
    <%- include("../partials/WHATSAPP.html")%>
    <%- include("../partials/wasap.html")%>
</head>
<body>
    <div class="celular-show">
        <div class="container">
            <div class="row">
                <div class="col-sm" style="margin-top: 5em;">
                    <div id="custCarousel" class="carousel slide" data-ride="carousel" align="center">
                        <!-- slides -->
                        <div class="carousel-inner">
                            <div class="carousel-item active"> <img src="https://www.movilzona.es/app/uploads/2020/06/Redmi-9-16.jpg" alt="Hills" width="2em"> </div>
                            <div class="carousel-item"> <img src="https://www.movilzona.es/app/uploads/2020/06/Redmi-9-1-1.jpg" alt="Hills" width="2em"> </div>
                            <div class="carousel-item"> <img src="https://www.movilzona.es/app/uploads/2020/06/Redmi-9-18.jpg" alt="Hills" width="2em"> </div>
                            <div class="carousel-item"> <img src="https://www.movilzona.es/app/uploads/2020/06/Redmi-9-17.jpg" alt="Hills" width="2em"> </div>
                        </div> <!-- Left right --> <a class="carousel-control-prev" href="#custCarousel" data-slide="prev"> <span class="carousel-control-prev-icon"></span> </a> <a class="carousel-control-next" href="#custCarousel" data-slide="next"> <span class="carousel-control-next-icon"></span> </a> <!-- Thumbnails -->
                        <ol class="carousel-indicators list-inline">
                            <li class="list-inline-item active"> <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#custCarousel"> <img src="https://www.movilzona.es/app/uploads/2020/06/Redmi-9-15.jpg" class="img-fluid" width="65px"> </a> </li>
                            <li class="list-inline-item"> <a id="carousel-selector-1" data-slide-to="1" data-target="#custCarousel"> <img src="https://www.movilzona.es/app/uploads/2020/06/Redmi-9-1-1.jpg" class="img-fluid" width="65px"> </a> </li>
                            <li class="list-inline-item"> <a id="carousel-selector-2" data-slide-to="2" data-target="#custCarousel"> <img src="https://www.movilzona.es/app/uploads/2020/06/Redmi-9-18.jpg" class="img-fluid" width="65px"> </a> </li>
                            <li class="list-inline-item"> <a id="carousel-selector-2" data-slide-to="3" data-target="#custCarousel"> <img src="https://www.movilzona.es/app/uploads/2020/06/Redmi-9-17.jpg" class="img-fluid" width="65px"> </a> </li>
                        </ol>
                    </div>
                </div>
                <div class="col-sm">
                    <table class="tabla-datos">
                        <thead>
                            <tr>
                                <th> </th>
                                <th>
                                    <h2>Xiaomi Redmi 9</h2>
                                </th>
                            </tr>
                        </thead>
                        <tbody><tr>
                            <th>
                                <p>Pantalla</p>
                            </th>
                            <td>
                                <p>IPS 6,53"<br> Full HD+</p>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <p>Dimensiones y peso</p>
                            </th>
                            <td>
                                <p>163,32 x 77,01 x 9,1 mm<br> 198 g.</p>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <p>Procesador</p>
                            </th>
                            <td>
                                <p>Helio G80</p>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <p>RAM</p>
                            </th>
                            <td>
                                <p>3 / 4 GB</p>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <p>Almacenamiento</p>
                            </th>
                            <td>
                                <p>32 / 64 GB</p>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <p>Cámara frontal</p>
                            </th>
                            <td>
                                <p>8 MP</p>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <p>Cámara trasera</p>
                            </th>
                            <td>
                                <p>13 MP f/2.2<br> 8 MP f/2.2 gran angular<br> 5 MP f/2.4 macro<br> 2 MP f/2.4 bokeh</p>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <p>Batería</p>
                            </th>
                            <td>
                                <p>5020 mAh<br> Carga rápida 18W</p>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <p>Sistema operativo</p>
                            </th>
                            <td>
                                <p>Android 10<br> MIUI 11</p>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <p>Conectividad</p>
                            </th>
                            <td>
                                <p>LTE<br>Wi-Fi<br>Bluetooth 5.0<br>NFC<br>Minijack<br>USB-C</p>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <p>Otros</p>
                            </th>
                            <td>
                                <p>Lector de huellas trasero
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <p>Precio de salida</p>
                            </th>
                            <td>
                                <p>3 GB + 32 GB: <a href="https://www.xataka.com/redirect?url=https%3A%2F%2Fwww.amazon.es%2FXiaomi-Redmi-Smartphone-Pantalla-Espa%25C3%25B1ola%2Fdp%2FB089WBCZRD%2Fref%3Dsr_1_4%3F__mk_es_ES%3D%25C3%2585M%25C3%2585%25C5%25BD%25C3%2595%25C3%2591%26dchild%3D1%26keywords%3Dredmi%2B9%26qid%3D1594818745%26quartzVehicle%3D93-1829%26replacementKeywords%3Dredmi%26sr%3D8-4&amp;category=moviles">125,4 euros</a>
                                </p><br>
            4 GB + 64 GB: <a href="https://www.xataka.com/redirect?url=https%3A%2F%2Fwww.amazon.es%2FSamartphone-C%25C3%2581MARA-Pantalla-5020mAh-funci%25C3%25B3n%2Fdp%2FB08B36FXD6%2Fref%3Dsr_1_1_sspa%3F__mk_es_ES%3D%25C3%2585M%25C3%2585%25C5%25BD%25C3%2595%25C3%2591%26dchild%3D1%26keywords%3Dredmi%2B9%26qid%3D1594818745%26quartzVehicle%3D93-1829%26replacementKeywords%3Dredmi%26sr%3D8-1-spons%26psc%3D1%26smid%3DA9ENVCDSORMDX%26spLa%3DZW5jcnlwdGVkUXVhbGlmaWVyPUEzNUNER01HNkVUTVFGJmVuY3J5cHRlZElkPUEwNTI5ODUwMThCSjUwWlBTWFRPQiZlbmNyeXB0ZWRBZElkPUEwOTc2ODgyMkdYSDdUNkUzVjFERiZ3aWRnZXROYW1lPXNwX2F0ZiZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU%3D&amp;category=moviles">139 euros</a>
                            </td>
                        </tr>
                    </tbody></table>
                </div>
            </div>
        </div>
    </div>
</body>
  <!--INTERESAR-->
  <%- include("../partials/interesar.html")%>
<%- include("../partials/footer.html")%>
</html>