

<div class="container">

   <div class="container text-center">
    <h2>DESTACADOS DEL MES</h2>
   </div>
   <!--2 phones-->
   <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div class="card">
          <!-- CARD 7 -->
          <img class="card-img-top img-fluid" src="/xiaomi-poco.jpg" alt="Card image cap" width="400">
          <div class="card-body">
            <h4 class="card-title text-center">Xiaomi POCO X3 NFC</h4>
            <div class="text-center">
              <i class="fas fa-mobile-alt"></i>   Pantalla: 6.67", 1080 x 2400 pixels<br>
            <i class="fas fa-microchip"></i>   Snapdragon 732G 2.3GHz<br>
            <i class="fas fa-memory"></i>   RAM: 6GB <br>
            <i class="fas fa-hdd"></i>  Almacenamiento: 128GB <br>
            <i class="fas fa-camera"></i>   Cámara: Cuádruple, 64MP+13MP +2MP   +2MP <br>
            <i class="fas fa-battery-full"></i>   Batería: 5160 mAh <br>
            </div>
              <div class="container text-center">
                <a href="/Catalogo/Xiaomi-Poco-X3-HTF" class="btn btn btn-outline-secondary btn-lg " role="button" aria-pressed="true">Ver detalles</a>
              </div>
            
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <!-- CARD 7 -->
          <img class="card-img-top img-fluid" src="/xiaomi-9pro.jpg" alt="Card image cap" width="400">
          <div class="card-body">
            <h4 class="card-title text-center">Xiaomi redmi note 9 pro</h4>
            <i class="fas fa-mobile-alt"></i>   Pantalla: 6.67", 1080 x 2400 pixels<br>
              <i class="fas fa-microchip"></i>   Procesador: Snapdragon 720G 2.3GHz <br>
              <i class="fas fa-memory"></i>   RAM: 6GB <br>
              <i class="fas fa-hdd"></i>  Almacenamiento: 64GB/128GB <br>
              <i class="fas fa-camera"></i>   Cámara: Cuádruple, 64MP+8MP +5MP+2MP <br>
              <i class="fas fa-battery-full"></i>   Batería: 5020 mAh <br>
              <div class="container text-center">
                 <a href="/Catalogo/Xiaomi-Redmi-Note-9pro" class="btn btn btn-outline-secondary btn-lg " role="button" aria-pressed="true">Ver detalles</a>
              </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="card-deck" style="margin-top: 3.2em;">
      <div class="card text">
        <!-- CARD 1  -->
        <img class="card-img-top img-fluid" src="/xiaomi-redmi9.jpg" alt="Card image cap" width="400">
        <div class="card-body">
          <h4 class="card-title text-center">Xiaomi Redmi Note 9S</h4>
          
            <i class="fas fa-mobile-alt"></i>   Pantalla: 6.53"<br>
            <i class="fas fa-microchip"></i>   Procesador:Helio G80 2GHz <br>
            <i class="fas fa-memory"></i>   RAM: 3GB <br>
            <i class="fas fa-hdd"></i>  Almacenamiento: 32GB <br>
            <i class="fas fa-camera"></i>   Cámara:Cuádruple, 13MP+8MP+5MP+2XP <br>
            <i class="fas fa-battery-full"></i>   Batería: 5020 mAh <br>
            <div class="container text-center">
               <a href="/Catalogo/Xiaomi-Redmi-Note-9S" class="btn btn btn-outline-secondary btn-lg " role="button" aria-pressed="true">Ver detalles</a>
            </div>
          
        </div>
      </div>
      <!-- /.card -->
  
      <div class="card">
        <!-- CARD 2    -->
        <img class="card-img-top img-fluid" src="/xiaomi3c.jpg" alt="Card image cap" width="400">
        <div class="card-body">
          <h4 class="card-title text-center">Xiaomi Redmi 9C</h4>
         
          <i class="fas fa-mobile-alt"></i>   Pantalla: 6.53", 720 x 1600 pixels<br>
            <i class="fas fa-microchip"></i>   Procesador: Mediatek Helio G35 2.3GHz <br>
            <i class="fas fa-memory"></i>   RAM: 2GB/3GB <br>
            <i class="fas fa-hdd"></i>  Almacenamiento: 32GB/64GB <br>
            <i class="fas fa-camera"></i>   Cámara: Triple, 13MP+5MP+2MP <br>
            <i class="fas fa-battery-full"></i>   Batería: 5000 mAh <br>
            <div class="container text-center">
               <a href="/Catalogo/Xiaomi-Redmi-9C" class="btn btn btn-outline-secondary btn-lg " role="button" aria-pressed="true">Ver detalles</a>
            </div>
          
          
        </div>
      </div>
      <!-- /.card -->
  
      <div class="card">
        <!-- CARD 3 -->
        <img class="card-img-top img-fluid" src="/redmi9a.jpg" alt="Card image cap" width="400">
        <div class="card-body">
          <h4 class="card-title text-center">Xiaomi redmi 9A</h4>
          <i class="fas fa-mobile-alt"></i>   Pantalla: 6.53", 720 x 1600 pixels<br>
            <i class="fas fa-microchip"></i>   Procesador: Mediatek Helio G25 2GHz <br>
            <i class="fas fa-memory"></i>   RAM: 2GB <br>
            <i class="fas fa-hdd"></i>  Almacenamiento: 32GB <br>
            <i class="fas fa-camera"></i>   Cámara: 13 MP <br>
            <i class="fas fa-battery-full"></i>   Batería: 5000 mAh <br>    
            <div class="container text-center">
               <a href="/Catalogo/Xiaomi-Redmi-9A" class="btn btn btn-outline-secondary btn-lg " role="button" aria-pressed="true">Ver detalles</a>
            </div>
            
        </div> 
      </div>
      
      <!-- /.card -->
      <div class="card">
        <!-- CARD 4-->
        <img class="card-img-top img-fluid" src="/xiaomi-9.jpg" alt="Card image cap" width="400">
        <div class="card-body">
          <h4 class="card-title text-center">Xiaomi Redmi Note 9</h4>
          <i class="fas fa-mobile-alt"></i>   Pantalla: 6.53", 720 x 1600 pixels<br>
            <i class="fas fa-microchip"></i>   Procesador: Mediatek Helio G25 2GHz <br>
            <i class="fas fa-memory"></i>   RAM: 2GB <br>
            <i class="fas fa-hdd"></i>  Almacenamiento: 32GB <br>
            <i class="fas fa-camera"></i>   Cámara: 13 MP <br>
            <i class="fas fa-battery-full"></i>   Batería: 5000 mAh <br>  
            <div class="container text-center">
               <a href="/Catalogo/Xiaomi-Poco-X3-HTF" class="btn btn btn-outline-secondary btn-lg " role="button" aria-pressed="true">Ver detalles</a>
            </div>
              
        </div> 
      </div>
    </div>
    

    
</div>

</body>