
<div class="container-fluid">
  
<div class="footer-container">

  <div class="row">
    <div class="col-4 align-self: center">
      <img src="/italos.png" alt="" width="90%">
    </div>
    <div class="col-4" >
      <ul style="list-style-type: none;">
      <li><p>
        Nuestra empresa
      </p></li>
     
        <li>
          <p>
            Quienes somos
          </p>
        </li>
        <li>
          <p>
            Contacte con nosotros
          </p>
        </li>
        <li>
          <p>
            Tiendas
          </p>
        </li>   
      </ul>
    </div>
    <div class="col-4">
      <p>Somos una empresa dedicada a la importación directa y venta de Celulares XIAOMI de gama media , alta y premium dando a nuestros clientes , calidad , garantía y confianza en cada una de sus compras ventas al por mayor y menor.</p>
    </div>

  </div>

</div>
</div>
</div>
