<div class="whatsapp">
  <div id="myDiv">
  </div>
  </body>
  <script type="text/javascript">
    $(function () {
      $('#myDiv').floatingWhatsApp({
        phone: '51995989398',
        headerTitle: 'Bienvenido a F9',
        popupMessage:'Hola, como podemos ayudarte',
        showPopup:true,
        message:'Quiero mas información',
        position: 'right',
      });
    });
  </script>
</div>



<footer>
    <div class="row">
      <div class="col-4">
        <img src="/logo-blanco.png" alt="" width="90%">
      </div>
      <div class="col-4"></div>
      <div class="col-4"></div>
    </div>
  </footer>
  