
<!--CDN PARA EL CARROUSEL-->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'></script>
<link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
<div class="container">
    
<div class="interesar" style="height: 300px;margin-top: 2em;">
    <div class="container my-4">
        <h3 class="text-center">Tambien te puede interesar</h3>
    
        <hr class="my-4">
    
        <!--Carousel Wrapper-->
        <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
    
          <!--Controls-->
          <div class="controls-top">
            <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
            <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
          </div>
          <!--/.Controls-->
    
          <!--Indicators-->
          <ol class="carousel-indicators">
            <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
            <li data-target="#multi-item-example" data-slide-to="1"></li>
            <li data-target="#multi-item-example" data-slide-to="2"></li>
          </ol>
          <!--/.Indicators-->
    
          <!--Slides-->
          <div class="carousel-inner" role="listbox">
    
            <!--First slide-->
            <div class="carousel-item active">
    
              <div class="row">
                <div class="col-md-4">
                  <div class="card mb-2">
                    <img class="card-img-top" src="/thump/x3.jpg"
                      alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title">Xiaomi PocoX3</h4>
                      <p class="card-text">No tiene competencia en la gama media.</p>
                      <a class="btn btn-primary" href="/Catalogo/Xiaomi-Poco-X3-HTF">Detalles</a>
                    </div>
                  </div>
                </div>
    
                <div class="col-md-4 clearfix d-none d-md-block">
                  <div class="card mb-2">
                    <img class="card-img-top" src="/thump/9c.jpg"
                      alt="Card image cap" height="50px">
                    <div class="card-body">
                      <h4 class="card-title">Xiaomi 3C</h4>
                      <p class="card-text">Gran bateria y con cámara de 3 lentes.</p>
                      <a class="btn btn-primary">Detalles</a>
                    </div>
                  </div>
                </div>
    
                <div class="col-md-4 clearfix d-none d-md-block">
                  <div class="card mb-2">
                    <img class="card-img-top" src="/thump/mibrand.jpg"
                      alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title">Xiaomi MiBrand</h4>
                      <p class="card-text">Lleva el recuento de pasos, calorías, y dispon de las notificaciones de tu móvil en la muñeca.</p>
                      <a class="btn btn-primary">Detalles</a>
                    </div>
                  </div>
                </div>
              </div>
    
            </div>
            <!--/.First slide-->
    
            <!--Second slide-->
            <div class="carousel-item">
    
              <div class="row">
                <div class="col-md-4">
                  <div class="card mb-2">
                    <img class="card-img-top" src="/thump/9pro.jpg"
                      alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title">Xiaomi 9 pro</h4>
                      <p class="card-text" ">Con cuatro cámaras para tomar fotos sorprendentes.</p>
                      <a class="btn btn-primary"href="/Catalogo/Xiaomi-Redmi-Note-9pro">Detalles</a>
                    </div>
                  </div>
                </div>
    
                <div class="col-md-4 clearfix d-none d-md-block">
                  <div class="card mb-2">
                    <img class="card-img-top" src="/thump/earbuds.jpg"
                      alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title">Xiaomi Earbuds</h4>
                      <p class="card-text">Lleva tu música a todos lados sin tener que preocuparte por los cables.</p>
                      <a class="btn btn-primary">Detalles</a>
                    </div>
                  </div>
                </div>
    
                <div class="col-md-4 clearfix d-none d-md-block">
                  <div class="card mb-2">
                    <img class="card-img-top" src="/thump/repetidor.jpg"
                      alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title">Mi wifi</h4>
                      <p class="card-text">Mejora el internet de todo tu hogar con un repetidor Xiaomi.</p>
                      <a class="btn btn-primary">Detalles</a>
                    </div>
                  </div>
                </div>
              </div>
    
            </div>
            <!--/.Second slide-->
    

    
          </div>
          <!--/.Slides-->
    
        </div>
        <!--/.Carousel Wrapper-->
    
    
      </div>
    <div class="chayomi">
        <img src="/interes.png" alt="" width="100%" style="display: grid; place-items: center;">
    </div>
</div>


<!--PLUGIN ADK-->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v8.0"
  nonce="3czYXE7g"></script>

  <h2 style="font-size: 1.5em;
  font-family: 'Barlow', sans-serif; text-align: center;">
    EN NUESTRO FACEBOOK SORTEOS TODAS LAS SEMANAS
  </h2>
<div class="fibupage">
 
  <div>
    
  </div>
  
    <div class="fb-page" data-href="https://www.facebook.com/ITALOSPHONESTORE" data-tabs="timeline" data-width="300"
      data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
      data-show-facepile="true">
      <blockquote cite="https://www.facebook.com/ITALOSPHONESTORE" class="fb-xfbml-parse-ignore"><a
          href="https://www.facebook.com/ITALOSPHONESTORE">Italo&#039;S Phonestore </a></blockquote></div>
        
  <div>

  </div>
  
</div>