<!--CUSTOM CSS-->
<link rel="stylesheet" href="/styles.css">
<!--BOOTSTRAP-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<!--GOOGLE FONT-->
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
<!--FONTAWESOME-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
<div class="navnav">
    <div class="container">
        <div class="nav-main">
            <img src="/logo-blanco.png" alt="Italo'sPhoneStore" width="20%">
            <ul class="nav-menu">
                <li>
                    <a href="/" style="text-decoration: none;">INICIO</a>
                </li>
                <li>
                    <a href="/catalogo"style="text-decoration: none;">CELULARES</a>
                </li>
                <li>
                    <a href=""style="text-decoration: none;">ACCESORIOS</a>
                </li>
                <li>
                    <a href=""style="text-decoration: none;">CONTACTO</a>
                </li>
            </ul>
        </div>
    </div>
</div>