*{
    margin: 0;
    padding: 0;
   
}
.navnav{
    margin-top: 0;
    height: 120px;
    background-color: #ef7029;
    position: sticky;
    top:0;
    z-index: 9999;
 
}

h6{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px
}

.nav-main{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

.nav-main ul{
    display:flex; 
    list-style:none;
}

.nav-main ul li{
    padding: 10px;
    color: wheat;
}
.nav-main a{
    color: white;
    
}
.nav-item ul li  a:hover{
    border-bottom: 2px solid white;
    color: white;
}
.xiaomifeed{
    background: rgb(242,212,4);
    background: linear-gradient(90deg, rgba(242,212,4,1) 0%, rgba(252,168,8,1) 100%);
}
.img-fluid {
    max-width: 100%;
    height: auto;
    display: grid;
    place-items: center;
    
  }
  body img{
    border-radius: 11px;
  }
 
.carrousel img{
    border-radius: 0px;
    
}
h2{
    padding: 20px;
}
p{
    font-size: 15px;
    padding: 0px;
}
.card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
 
  cursor: pointer;
}
.card-body2{
    padding: 0.5rem;
}
.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.btn {
    color: #fff;
    background-color: #0495c9;
    border-color: #357ebd; /*set the color you want here*/
}
.btn:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #00b3db;
    border-color: #285e8e; /*set the color you want here*/
}
a :hover{
    border-bottom: 2px solid white;
}

.cardss3{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin-top: 80px;
}
.cardss4{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin-top: 80px;
}
.features img{
     border-radius: 0px;
}
.features{
    margin-top: 800px;
}
.footer-container{
    height: 170px;
    background-color: white;
    margin-top: 85px;
}

.prueba{
    background-color: yellow;
}
.navbar{
    padding: 20px;
}
 .oficial a{
    padding: 20px;
    color: white;
}
.navbar li{
    color: white;
}
.oficial ul li{
    padding: 10px;
    color: wheat;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
}

.oficial ul a:hover{
    border-bottom: 2px solid white;
    color: white;
}
.responsive {
    width: 100%;
    max-width: 8%;
    height: auto;
  }

  /*CAROUSEL*/
  .container {
    margin-top: 0px;
    margin-bottom: 0px
}

.carousel-inner img {
    width: 100%;
    height: 100%
}

#custCarousel .carousel-indicators {
    position: static;
    margin-top: 20px
}

#custCarousel .carousel-indicators>li {
    width: 100px
}

#custCarousel .carousel-indicators li img {
    display: block;
    opacity: 0.5
}

#custCarousel .carousel-indicators li.active img {
    opacity: 1
}

#custCarousel .carousel-indicators li:hover img {
    opacity: 0.75
}

.carousel-item img {
    width: 80%
}

.celular-show img{
    border-radius: 0px;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}
body h1{
    margin-top: 1em;
    margin-bottom: 1em; 
}
.publi-wasap p{

    font-size: 1.2em;
    font-family: 'Barlow', sans-serif;
    color:white;
    display: grid;
    place-items:center;
    
}
.interesar{
    display: flex;
    flex-direction: column;
    grid-template-columns: auto;

    height: 350px;
    margin-bottom: 200px
}
.chayomi{
    display: grid;
    place-items: center;
}
h4{
    font-family: 'Open Sans', sans-serif;
}
.feibu{
    display: grid;
    grid-template-columns: 100%;

}

.palfeibu{
    margin-top: 2em;
    grid-column-gap: 40px;
    height: 350px;
    margin-bottom: 200px
}

.fibupage{
    display: grid;
    grid-template-columns: 10% 80% 10%;
}


.snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
  }
  
  @-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
  /* Demo Purpose Only*/
  .demo {
    font-family: 'Raleway', sans-serif;
      color:#fff;
      display: block;
      margin: 0 auto;
      padding: 15px 0;
      text-align: center;
  }
  .demo th{
    font-family: 'Raleway', sans-serif;
  color: #000;		
  }

  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 10px;
    border: none;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content th {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}  
.borrar-curso {
    background-color: red;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

ul {
    list-style: none;
}
#hero {
    background-image:url(../img/hero.jpg);
    height: 350px;
}
#encabezado {
    margin: 30px 0;
}
.submenu {
    position: relative;
}

.submenu #carrito{
    display: none;
}
.submenu:hover #carrito{
    display: none;
    position: absolute;
    right:0;

    top:100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 300px;
    min-width: 300px;
}
.vacio {
    padding: 10px;
    background-color: crimson;
    text-align: center;
    border-radius: 10px;
    color: white;
}
.contenido-hero {
    margin-top: 80px;
    color: white;
}
.contenido-hero form {
    position: relative;
    margin-bottom: 0;
}
.contenido-hero form #buscador {
    height: 50px;
    margin-bottom: 0;
}
.contenido-hero form .submit-buscador {
    position: absolute;
    right:0;
    top:0;
    height: 100%;
    padding: 0;
    display: block;
    text-indent: -9999px;
    width: 50px;
    background-image: url(../img/lupa.png);
    background-position: right center;
    background-repeat: no-repeat;
    border:none;
}


.barra {
    padding: 20px 0;
background: #741d51; /* Old browsers */
background: -moz-linear-gradient(left, #741d51 0%, #e44e52 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #741d51 0%,#e44e52 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #741d51 0%,#e44e52 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#741d51', endColorstr='#e44e52',GradientType=1 ); /* IE6-9 */
}

.barra p {
    margin:0;
    color: white;
}
.icono {
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 60px;
    background-size: 30px;
    margin-bottom: 40px;
    text-align: center;
}
@media (min-width: 750px) {
    .icono {
        margin-bottom:0;
    }
}



.icono1 {
    background-image: url(../img/icono1.png);
}
.icono2 {
    background-image: url(../img/icono2.png);
}
.icono3 {
    background-image: url(../img/icono3.png);
}

#lista-cursos .row {
    margin-bottom:20px;
}
.agregar-carrito {
    margin:10px 0;
}

@media (max-width: 400px) {

    .palfeibu{
        display: flex;
        flex-direction: row;
    }
    #det{
     display: none; 
    }
    h6{
        font-size: 5px;
    }
  
  }
